{% extends 'base.html' %}
{% block content %}
<h2>All books</h2>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>
                <a href="{{ url_for('book_details', id=book.id) }}">
                    {{ book.title }}
                </a>
            </td>
            <td>{{ book.author }}</td>
            <td>{{ book.genre.name }}</td>
            <td>
                <a href="{{ url_for('book_delete', id=book.id) }}">
                    Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<a href="{{ url_for('book_add') }}">Add book</a>
{% endblock %}